body{
    margin: 0;
    height: 100%;
    background-color: #3cab00;
}
header{
    background-color: #3cab00;
    line-height: 8vh;
    text-align: center;
    height: 15vh;
}
.noMargin{
    margin: 0;
}
.hOptions{
    text-align: center;
}
.hOptions>a{
    border: 1px solid black;
    padding: 15px;
    background-color: #6ac43a;
    font-size: x-large;
    margin: 0;
}
.buttonContainer{
    position: absolute;
    top: 3vh;
    right: 3vw;
}
header h1{
    font-size: 4rem;
    font-family: 'Franklin Gothic Medium';
}
.buttonContainer>a>button{
    background-color: green;
    border-width: 0;
    border-radius: 5px;
    color: white;
    height: 4.5rem;
    width: 8rem;
    font-size: 17px;
}
a{
    color: black;
    text-decoration: none;
}
footer{
    clear: both;
    position: relative;
    height: 15vh;
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: #3cab00;
    line-height: 15vh;
}
main{
    min-height: 70vh;
    height: 70%;
    background-color: #6ac43a;
    text-align: center;
}
.productPanel{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}
.productContainer{
    border: 2px solid black;
    border-radius: 20px;
    margin: 20px;
    height: 400px;
    width: 300px;
    background-color: white;
}
.productContainer>img{
    padding: 20px;
    height: 250px;
}
.productContainer>h2{
    margin: 0;
    padding: 0;
}
.productContainer>h3{
    margin: 0;
    padding: 0;
}
.productContainer>a>button{
    height: 30px;
    width: 200px;
    font-size: 21px;
    font-weight: bolder;
    border-radius: 0;
    background-color: yellow;
}
.details{
    background-color: white;
    display: grid; 
    grid-template-columns: 1.4fr 0.6fr; 
    grid-template-rows: 4fr 0.6fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". ."
      ". ."; 
    justify-content: stretch; 
    align-content: stretch; 
    justify-items: stretch; 
    align-items: stretch; 
}
.description{
    height: 57.7vh;
    font-size: large;
    line-height: 1.5;
    padding: 20px;
}
.buyButton>a>button{
    height: 100px;
    width: 400px;
    font-size: 30px;
    font-weight: bolder;
    border-radius: 0;
    background-color: yellow;
}
.imagesView>img{
    height: 650px;
    padding: 20px;
}
.productName>h2{
    font-size: 300%;
    margin: 0;
    padding: 0;
}
.userForm{
    background-color: white;
    width: 300px;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 2.5;
    border-radius: 20px;
    border: 4px solid black;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}
.userForm input{
    width: 250px;
    height: 23px;
    font-weight: bolder;
    color: black;
    border: 2px solid black;
}
.userForm button{
    background-color: #cbe683;
    width: 258px;
    height: 29px;
    font-weight: bolder;
    color: black;
    border: 2px solid black;
}
.userForm h2{
    font-size: xx-large;
    margin-top: -30px;
    font-family:Verdana;
}