/* 
Kolory:
#4d5421
#7b8650
#b1b780
#d9d99b
#f2f2b0
*/
body{
    margin: 0;
}
.no-margin{
    margin: 0;
}
header{
    color: #f2f2b0;
    text-align: center;
    height: 5vh;
    background-color: #7b8650;
}