body{
    margin: 0;
    height: 100%;
    background-color: #b45700;
    font-family: 'Segoe UI', sans-serif;
}
header{
    background-color: #b45700;
    line-height: 8vh;
    text-align: center;
    height: 15vh;
}
header h1{
    color: white;
}
.noMargin{
    margin: 0;
}
.buttonContainer{
    position: absolute;
    top: 3vh;
    right: 3vw;
}
header h1{
    font-size: 4rem;
    font-family: 'Franklin Gothic Medium';
}
.buttonContainer>a>button{
    background-color: orangered;
    border-width: 0;
    border-radius: 5px;
    color: white;
    height: 4.5rem;
    width: 8rem;
    font-size: 17px;
}
a{
    color: black;
    text-decoration: none;
}
footer{
    clear: both;
    position: relative;
    height: 7.5vh;
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: #b45700;
    line-height: 7.5vh;
}
main{
    min-height: 77.5vh;
    height: 77.5%;
    background-color: #ffe8ce;
    text-align: center;
}
.operationsPanel{
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: space-around;
    align-items: center;
}
.operationsPanel button{
    background-color: orangered;
    border-radius: 20px;
    color: white;
    height: 4rem;
    width: 15rem;
    font-size: 17px;
    margin: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}
.operationsPanel button:hover {
    background-color: #ff7300;
    transform: scale(1.05);
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.operationsPanel a{
    height: 4.5rem;
    width: 15rem;
}
.productImage{
    height: 50px;
}
.modifyBtn{
    background-color: orangered;
    border-width: 0;
    border-radius: 5px;
    color: white;
    height: 1.5rem;
    width: 10rem;
}
.iconButton {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    box-shadow: none;
}
.iconButton:focus {
    outline: none;
}
.adminForm{
    background-color: white;
    width: 300px;
    min-height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 2.5;
    border-radius: 20px;
    border: 4px solid black;
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}
.adminForm input{
    width: 250px;
    height: 23px;
    font-weight: bolder;
    color: black;
    border: 2px solid black;
}
.adminForm button{
    background-color: orangered;
    width: 258px;
    height: 29px;
    font-weight: bolder;
    color: black;
    border: 2px solid black;
}
.adminForm h2{
    font-size: xx-large;
    font-family:Verdana;
    margin: 0;
}
.adminForm form{
    margin: 30px;
}
table{
    width: 100%;
}
td,th{
    border: 1px solid black;
}